@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './base.css';
@import 'tailwindcss/utilities';


html {
  background-color: #f5f5f5;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}
